In [19]:
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# import datetime
import numpy as np

In [2]:
household_info = pd.read_csv(f"../data/archive/informations_households.csv")
electricity_consumption = pd.read_csv(f"../data/archive/daily_dataset.csv")
weather = pd.read_csv(f"../data/archive/weather_daily_darksky.csv")

In [3]:
# pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None)

In [2]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

# EDA household_info

In [3]:
household_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566 entries, 0 to 5565
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LCLid          5566 non-null   object
 1   stdorToU       5566 non-null   object
 2   Acorn          5566 non-null   object
 3   Acorn_grouped  5566 non-null   object
 4   file           5566 non-null   object
dtypes: object(5)
memory usage: 217.6+ KB

In [4]:
household_info.describe()

            LCLid stdorToU    Acorn Acorn_grouped     file
count        5566     5566     5566          5566     5566
unique       5566        2       19             5      112
top     MAC002774      Std  ACORN-E      Affluent  block_0
freq            1     4443     1567          2192       50

In [5]:
household_info

          LCLid stdorToU    Acorn Acorn_grouped       file
0     MAC005492      ToU   ACORN-        ACORN-    block_0
1     MAC001074      ToU   ACORN-        ACORN-    block_0
2     MAC000002      Std  ACORN-A      Affluent    block_0
3     MAC003613      Std  ACORN-A      Affluent    block_0
4     MAC003597      Std  ACORN-A      Affluent    block_0
...         ...      ...      ...           ...        ...
5561  MAC002056      Std  ACORN-U       ACORN-U  block_111
5562  MAC004587      Std  ACORN-U       ACORN-U  block_111
5563  MAC004828      Std  ACORN-U       ACORN-U  block_111
5564  MAC001704      ToU  ACORN-U       ACORN-U  block_111
5565  MAC002774      ToU  ACORN-U       ACORN-U  block_111

[5566 rows x 5 columns]

In [6]:
household_info['Acorn_grouped'].unique()

array(['ACORN-', 'Affluent', 'Comfortable', 'Adversity', 'ACORN-U'],
      dtype=object)

We don't really need the information on where the data is located or the kind of tariff applied.

In [4]:
household_info = household_info.drop(["file", "Acorn_grouped", "stdorToU"], axis=1)

In [22]:
sorted(household_info['Acorn'].unique())

['ACORN-A',
 'ACORN-B',
 'ACORN-C',
 'ACORN-D',
 'ACORN-E',
 'ACORN-F',
 'ACORN-G',
 'ACORN-H',
 'ACORN-I',
 'ACORN-J',
 'ACORN-K',
 'ACORN-L',
 'ACORN-M',
 'ACORN-N',
 'ACORN-O',
 'ACORN-P',
 'ACORN-Q',
 'ACORN-U']

In [16]:
household_info.loc[household_info['Acorn'] == 'ACORN-']["LCLid"].tolist()

['MAC005492', 'MAC001074']

In [5]:
id_to_drop = household_info.loc[household_info['Acorn'] == 'ACORN-']["LCLid"].tolist()

In [19]:
household_info

          LCLid    Acorn
0     MAC005492   ACORN-
1     MAC001074   ACORN-
2     MAC000002  ACORN-A
3     MAC003613  ACORN-A
4     MAC003597  ACORN-A
...         ...      ...
5561  MAC002056  ACORN-U
5562  MAC004587  ACORN-U
5563  MAC004828  ACORN-U
5564  MAC001704  ACORN-U
5565  MAC002774  ACORN-U

[5566 rows x 2 columns]

In [6]:
household_info = household_info.loc[household_info['Acorn'] != 'ACORN-']

In [7]:
acorn_list = sorted(household_info['Acorn'].unique())

In [8]:
def give_acorn_id(acorn):
    return acorn_list.index(acorn)+1

household_info['Acorn_id'] = household_info['Acorn'].apply(give_acorn_id)

# EDA electricity consumption

In [28]:
electricity_consumption

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000131,2011-12-15,0.4850,0.432045,0.868,22,0.239146,9.505,0.072
1,MAC000131,2011-12-16,0.1415,0.296167,1.116,48,0.281471,14.216,0.031
2,MAC000131,2011-12-17,0.1015,0.189812,0.685,48,0.188405,9.111,0.064
3,MAC000131,2011-12-18,0.1140,0.218979,0.676,48,0.202919,10.511,0.065
4,MAC000131,2011-12-19,0.1910,0.325979,0.788,48,0.259205,15.647,0.066
...,...,...,...,...,...,...,...,...,...
3510428,MAC004977,2014-02-24,0.0950,0.118458,0.580,48,0.093814,5.686,0.052
3510429,MAC004977,2014-02-25,0.0675,0.084208,0.176,48,0.037107,4.042,0.046
3510430,MAC004977,2014-02-26,0.1080,0.120500,0.282,48,0.069332,5.784,0.046
3510431,MAC004977,2014-02-27,0.0720,0.114062,0.431,48,0.094482,5.475,0.047
3510432,MAC004977,2014-02-28,0.0970,0.097000,0.097,1,NaN,0.097,0.097

In [29]:
electricity_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   LCLid          object
 1   day            object
 2   energy_median  float64
 3   energy_mean    float64
 4   energy_max     float64
 5   energy_count   int64
 6   energy_std     float64
 7   energy_sum     float64
 8   energy_min     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 241.0+ MB

In [30]:
electricity_consumption.describe()

,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
count,3.510403e+06,3.510403e+06,3.510403e+06,3.510433e+06,3.499102e+06,3.510403e+06,3.510403e+06
mean,1.587395e-01,2.117305e-01,8.345210e-01,4.780364e+01,1.726673e-01,1.012414e+01,5.962578e-02
std,1.701865e-01,1.908460e-01,6.683156e-01,2.810982e+00,1.531208e-01,9.128793e+00,8.701312e-02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.700000e-02,9.808333e-02,3.460000e-01,4.800000e+01,6.911626e-02,4.682000e+00,2.000000e-02
50%,1.145000e-01,1.632917e-01,6.880000e-01,4.800000e+01,1.327910e-01,7.815000e+00,3.900000e-02
75%,1.910000e-01,2.624583e-01,1.128000e+00,4.800000e+01,2.293124e-01,1.256900e+01,7.100000e-02
max,6.970500e+00,6.928250e+00,1.076100e+01,4.800000e+01,4.024569e+00,3.325560e+02,6.524000e+00

We don't really need columns other than energy_sum

In [9]:
electricity_consumption = electricity_consumption[['LCLid', 'day', 'energy_sum']]

In [10]:
energy_info = pd.merge(household_info, electricity_consumption, on='LCLid', how='left')
energy_info

             LCLid    Acorn  Acorn_id         day  energy_sum
0        MAC000002  ACORN-A         1  2012-10-12       7.098
1        MAC000002  ACORN-A         1  2012-10-13      11.087
2        MAC000002  ACORN-A         1  2012-10-14      13.223
3        MAC000002  ACORN-A         1  2012-10-15      10.257
4        MAC000002  ACORN-A         1  2012-10-16       9.769
...            ...      ...       ...         ...         ...
3509647  MAC002774  ACORN-U        18  2014-02-02       0.128
3509648  MAC002774  ACORN-U        18  2014-02-03       0.114
3509649  MAC002774  ACORN-U        18  2014-02-04       0.142
3509650  MAC002774  ACORN-U        18  2014-02-05       0.124
3509651  MAC002774  ACORN-U        18  2014-02-06       0.000

[3509652 rows x 5 columns]

# EDA weather

In [24]:
weather

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,apparentTemperatureHigh,precipType,visibility,humidity,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureMax,uvIndex,time,sunsetTime,temperatureLow,temperatureMin,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,10.87,rain,3.30,0.95,2011-11-11 19:00:00,10.87,11.96,1.0,2011-11-11 00:00:00,2011-11-11 16:19:21,10.87,8.85,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,5.62,rain,12.09,0.88,2011-12-11 19:00:00,-0.64,5.72,1.0,2011-12-11 00:00:00,2011-12-11 15:52:53,3.09,2.48,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,10.33,rain,13.39,0.74,2011-12-27 14:00:00,5.52,10.33,0.0,2011-12-27 00:00:00,2011-12-27 15:57:56,8.03,8.03,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,5.33,rain,11.89,0.87,2011-12-02 12:00:00,3.26,5.33,1.0,2011-12-02 00:00:00,2011-12-02 15:56:17,6.33,2.56,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,5.02,rain,13.16,0.80,2011-12-24 15:00:00,4.37,5.32,1.0,2011-12-24 00:00:00,2011-12-24 15:55:55,7.45,3.17,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,9.03,2014-01-26 16:00:00,233,partly-cloudy-day,2.39,2014-01-26 21:00:00,0.40,4.55,1002.10,2014-01-26 22:00:00,5.99,rain,11.97,0.79,2014-01-26 15:00:00,-2.02,5.99,1.0,2014-01-26 00:00:00,2014-01-26 16:39:26,2.56,3.26,9.03,2014-01-26 07:48:49,2014-01-26 16:00:00,2014-01-26 11:00:00,Mostly cloudy until evening.,2014-01-27 05:00:00,-1.30,2014-01-26 15:00:00,2014-01-27 04:00:00,0.84
878,10.31,2014-02-27 14:00:00,224,partly-cloudy-day,3.08,2014-02-27 23:00:00,0.32,4.14,1007.02,2014-02-27 22:00:00,10.31,rain,12.04,0.74,2014-02-27 14:00:00,0.82,10.31,2.0,2014-02-27 00:00:00,2014-02-27 17:37:35,3.43,3.93,10.31,2014-02-27 06:51:45,2014-02-27 14:00:00,2014-02-27 12:00:00,Partly cloudy until evening.,2014-02-28 02:00:00,1.41,2014-02-27 14:00:00,2014-02-28 02:00:00,0.93
879,18.97,2014-03-09 14:00:00,172,partly-cloudy-night,4.30,2014-03-09 07:00:00,0.04,2.78,1022.44,2014-03-09 07:00:00,18.97,rain,10.62,0.58,2014-03-09 14:00:00,4.12,18.97,3.0,2014-03-09 00:00:00,2014-03-09 17:55:03,5.04,7.65,18.97,2014-03-09 06:29:49,2014-03-09 14:00:00,2014-03-09 12:00:00,Partly cloudy in the evening.,2014-03-10 05:00:00,7.08,2014-03-09 14:00:00,2014-03-10 06:00:00,0.28
880,8.83,2014-02-12 16:00:00,210,wind,1.94,2014-02-12 01:00:00,0.59,7.24,994.27,2014-02-12 01:00:00,4.73,rain,11.80,0.75,2014-02-12 16:00:00,0.05,4.73,1.0,2014-02-12 00:00:00,2014-02-12 17:10:25,4.14,3.03,8.83,2014-02-12 07:21:44,2014-02-12 16:00:00,2014-02-12 10:00:00,Mostly cloudy until evening and breezy through...,2014-02-13 05:00:00,-1.20,2014-02-12 16:00:00,2014-02-13 02:00:00,0.42
881,9.90,2014-02-15 12:00:00,233,wind,2.95,2014-02-15 23:00:00,0.35,9.96,988.63,2014-02-15 23:00:00,5.79,rain,12.38,0.69,2014-02-15 12:00:00,-1.03,5.79,1.0,2014-02-15 00:00:00,2014-02-15 17:15:55,2.34,5.38,9.90,2014-02-15 07:16:06,2014-02-15 12:00:00,2014-02-15 10:00:00,Windy and mostly cloudy until afternoon.,2014-02-16 07:00:00,1.77,2014-02-15 12:00:00,2014-02-16 07:00:00,0.52

In [11]:
weather['date'] = pd.to_datetime(weather['sunriseTime']).dt.date

In [12]:
weather = weather.drop(['temperatureMaxTime', 'temperatureMinTime', 'apparentTemperatureMinTime', 'apparentTemperatureHighTime', 'temperatureHighTime', 'uvIndexTime', 'summary', 'temperatureLowTime', 'apparentTemperatureMaxTime', 'apparentTemperatureLowTime', 'icon', 'time', 'precipType'], axis=1)

In [15]:
weather.columns

Index(['temperatureMax', 'windBearing', 'dewPoint', 'cloudCover', 'windSpeed',
       'pressure', 'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'sunsetTime', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'sunriseTime', 'apparentTemperatureMin', 'moonPhase', 'date'],
      dtype='object')

In [13]:
energy_info['date'] = pd.to_datetime(energy_info['day']).dt.date
energy_info = energy_info.drop(['day'], axis=1)

In [15]:
energy_info = pd.merge(energy_info, weather, on='date', how='left')

In [17]:
energy_info.columns

Index(['LCLid', 'Acorn', 'Acorn_id', 'energy_sum', 'date', 'temperatureMax',
       'windBearing', 'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'sunsetTime', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'sunriseTime', 'apparentTemperatureMin', 'moonPhase'],
      dtype='object')

In [16]:
energy_info

,LCLid,Acorn,Acorn_id,energy_sum,date,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,sunsetTime,temperatureLow,temperatureMin,temperatureHigh,sunriseTime,apparentTemperatureMin,moonPhase
0,MAC000002,ACORN-A,1,7.098,2012-10-12,14.72,250,7.08,0.48,5.42,1005.33,13.99,13.07,0.75,6.47,14.73,2.0,2012-10-12 17:14:56,6.47,8.51,13.99,2012-10-12 06:21:00,7.12,0.89
1,MAC000002,ACORN-A,1,11.087,2012-10-13,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2012-10-13 17:12:45,2.81,6.41,11.53,2012-10-13 06:22:42,4.01,0.92
2,MAC000002,ACORN-A,1,13.223,2012-10-14,12.32,300,4.10,0.20,2.36,1002.50,12.32,11.86,0.80,2.83,12.32,2.0,2012-10-14 17:10:36,4.09,2.81,12.32,2012-10-14 06:24:23,1.64,0.96
3,MAC000002,ACORN-A,1,10.257,2012-10-15,13.03,220,6.39,0.31,2.97,1002.67,13.03,12.17,0.84,7.15,13.03,1.0,2012-10-15 17:08:27,9.81,4.09,13.03,2012-10-15 06:26:05,2.83,0.99
4,MAC000002,ACORN-A,1,9.769,2012-10-16,14.74,226,6.91,0.39,5.37,1000.80,14.74,12.59,0.74,7.41,14.74,1.0,2012-10-16 17:06:19,8.80,9.06,14.74,2012-10-16 06:27:48,7.15,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509647,MAC002774,ACORN-U,18,0.128,2014-02-02,9.30,221,2.63,0.22,4.75,1005.39,6.48,12.89,0.72,2.02,6.48,1.0,2014-02-02 16:52:02,4.97,5.79,9.30,2014-02-02 07:38:46,3.21,0.10
3509648,MAC002774,ACORN-U,18,0.114,2014-02-03,7.99,139,2.86,0.47,4.92,1003.89,4.59,12.50,0.79,1.12,4.59,1.0,2014-02-03 16:53:52,4.22,4.97,7.99,2014-02-03 07:37:12,1.96,0.13
3509649,MAC002774,ACORN-U,18,0.142,2014-02-04,8.88,172,2.69,0.42,5.30,996.87,5.63,12.05,0.75,1.03,5.63,1.0,2014-02-04 16:55:41,5.54,4.22,8.88,2014-02-04 07:35:36,1.12,0.17
3509650,MAC002774,ACORN-U,18,0.124,2014-02-05,9.64,193,4.06,0.73,7.86,982.20,5.86,10.91,0.77,3.56,5.86,1.0,2014-02-05 16:57:32,7.01,5.54,9.64,2014-02-05 07:33:58,1.03,0.20
3509651,MAC002774,ACORN-U,18,0.000,2014-02-06,9.81,198,4.96,0.67,4.98,989.90,6.87,10.53,0.82,-0.86,7.34,1.0,2014-02-06 16:59:22,4.13,5.86,9.77,2014-02-06 07:32:18,1.96,0.24

In [18]:
energy_info['sunriseTime'] = pd.to_datetime(energy_info['sunriseTime'])
energy_info['sunsetTime'] = pd.to_datetime(energy_info['sunsetTime'])

In [20]:
energy_info.to_csv('../data/energy_info.csv')